ol {
  background-color: yellow;
} 
#fonte-verde {
  color: green;
}
#maiuscula {
  text-transform: uppercase;
}
h1, h2, h3 ,h4 {
  color: red;
}
#header-italico {
  font-size: 40px;
  border: 1px solid black;
}
li {
  font-size: 20px;
}
#negrito-list {
  font-weight: bold;
}
#fonte-azul {
  color: blue;
}
.java {
  background-color: pink;
}